---
title:
description:
---
 
%p 
  This is a default page for 
  %a{:href => "http://html5boilerplate.com/"} HTML5 Boilerplate 4.0
  adapted as a HAML 
  %a{:href => "http://middlemanapp.com/"} Middleman 3.x
  project template, using 
  %a{:href => "http://susy.oddbird.net/"} Susy 1.0, 
  SCSS, Coffeescript, Sprockets and more.
  
%p
  Made by
  %a{:href => "http://www.dannyprose.com"} Danny Palmer.